
$zero-padding : 0;
$zero-margin : 0;
$full-height : 100%;
$full-width : 100%;
$background-color : #251A1E;//#5D6D7E; //whitesmoke; 
$uniform-padding : 2%;
$font-bold : bold;
$colors:(
    background-w:whitesmoke,
    background-b:#251A1E,
    w:white
);